@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');

$green: #1DB954;
$black: #191414;
$title-font: 'Montserrat Alternates', sans-serif;
$font: 'Montserrat', sans-serif;

