@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Open+Sans&display=swap');

$green: #1DB954;
$black: #191414;
$title-font: 'Alegreya Sans SC', sans-serif;
$font: 'Open Sans', sans-serif;

