@import "Helpers";

.loginSearch {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-family: $font;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white; 
  color: $black; 
  border: 2px solid $green;
  font-size: 30px;
  padding: 10px 25px;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
}

.buttonContainer:hover {
  box-shadow: 5px 5px $green;
}

.spotifyLogo {
  width: 45px;
}