.landing {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white; 
  color: #191414; 
  border: 2px solid #1DB954;
  font-size: 30px;
  padding: 10px 25px;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
}

.buttonContainer:hover {
  box-shadow: 5px 5px #1DB954;
}

.spotifyLogo {
  width: 45px;
}