@import "Helpers";

.artists {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-align: left;
  word-wrap: break-word;
  width: 250px;
  font-family: $font;
}

.artists:hover {
  box-shadow: 3px 3px $green;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artistName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.resultImages {
  width: 250px;
  height: 250px;
  border: 1px solid $green;
}