.artists {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultImages {
  width: 200px;
  height: 200px;
}